<style>
    /*footer page styling starts */
       .media-icons {
        display: flex;
        justify-content: left;
    }
    
    .media-icons a {
        height: 40px;
        width: 40px;
        margin: 0 8px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-size: 17px;
        text-decoration: none;
        transition: all 0.4s ease;
    }
    
    .media-icons a.facebook-icon {
        background: #4267B2;
    }
    
    .media-icons a.facebook-icon:hover {
        color: #4267B2;
        background: #fff;
    }
    
    
    .media-icons a.instagram-icon {
        background: #E1306C;
    }
    
    .media-icons a.instagram-icon:hover {
        color: #E1306C;
        background: #fff;
    }
    
    .media-icons a.linkedin-icon {
        background: #0077B5;
    }
    
    .media-icons a.linkedin-icon:hover {
        color: #0077B5;
        background: #fff;
    }
    
    .media-icons a.youtube-icon {
        background: #FF0000;
    }
    
    .media-icons a.youtube-icon:hover {
        color: #FF0000;
        background: #fff;
    }
      </style>
    
    
    
    <!-- footer code-->
    <footer itemtype="https://schema.org/WPFooter" itemscope="itemscope" id="colophon" role="contentinfo" style="background:#222;">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-widget">
                        <h4 class="footer-title mt-5" style="color:#fff;">HIRA DENTAL LAB</h4>
                        <br>
                        <p style="color:#fff;">Hira Dental Laboratory is a full-service PRIVATE LAB specializing in implants, Crown & Bridge, All ceramic, Aligners, and chrome dentures. We offer a comprehensive range of carefully selected metal-free systems and traditional restorations.</p>
                    </div>
                
                    <div class="footer-widget">
                        <h6 class="footer-title mt-5" style="color:#fff;">FOLLOW US ON SOCIAL MEDIA</h6>
                    <div class="media-icons d-flex" >
                    <a href="#" class="facebook-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="instagram-icon"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="linkedin-icon"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="youtube-icon"><i class="fab fa-youtube"></i></a>
                    </div>
    
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-widget">
                        <h4 class="footer-title mt-5" style="color:#fff;">CUSTOMER SUPPORT</h4>
                        <br>
                        <p style="color:#fff;">For general enquiries</p>
                        <ul class="list-unstyled">
                            <li><a href="tel:+442476263962"  style="color:#1ab1e5;"><i class="fas fa-phone-alt" style="color:#1ab1e5;"></i> +44 24 7626 3962</a></li>
                            <li><a href="mailto:info@hiradentallab.com"  style="color:#1ab1e5;"><i class="fas fa-envelope" style="color:#1ab1e5;"></i> info@hiradentallab.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                   <h4 class="footer-title mt-5" style="color:#fff;">OUR ADRESS</h4>
                   <br>
                                <a href="#" class="text-decoration-none">
                    <span class="icon"><i class="fas fa-map-pin"  style="color:#1ab1e5;"></i></span>
                    <span class="text"  style="color:#1ab1e5;">02 Ulverscroft Rd, Coventry, UK</span>
                </a>
                <br>
                <P style="color:#fff;">Company Number: 10278731</P>
                <br>
                <img src="/static/assets/images/mhra.png" alt="" class="img-fluid" width="75" height="75">
                <img src="/static/assets/images/lda.png" alt="" class="img-fluid" width="75" height="75">
                 <img src="/static/assets/images/third.png" alt="" class="img-fluid" width="80" height="80">
                 <img src="/static/assets/images/str.png" alt="" class="img-fluid" width="80" height="80">
                </div>
                
                
                
            </div>
        </div>
        <br><br><br>
        <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12 text-center" style="background:#333;">
                    <p style="color:#fff;">Hira Dental Lab Coventry UK © Copyright 2023. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>